@model IEnumerable<FuelTypeDto>


<div class="col-9 card mx-auto shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="text-center">
                <h1 class="text-white">Fuel Types</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4 col-12">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-outline-primary" asp-action="FuelTypeCreate"><i class="bi bi-plus-square"></i> Create New Fuel Type</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Fuel Type Name
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a asp-action="FuelTypeEdit" asp-route-fuelTypeId="@item.Id" class="btn btn-success">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="FuelTypeDelete" asp-route-fuelTypeId="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
